.training{
	.block{

		h2{
			font-family: "Raleway Dots",fantasy,"google";
			font-size: 30px;
			font-style: normal;
			text-align: left;
			text-transform: uppercase;
		}
		p{
			padding-top: 15px;
			line-height:28px;
		}
		img{
			width: 100%;
		}
	}
	.training-img {

		overflow:hidden;
		&:hover img {
			transform: scale3D(1.1,1.1,1);
		}
		img {
			opacity: .6;
			@include transition (all, 0.5s, ease-out);
		}
	}
	.section-title {
		margin-top: -20px;
		margin-bottom: 0px;
	}
}
