.assistenzhunde{
  padding: 40px 0;
  background: #f7f7f7;
  h2{
    font-family: "Raleway Dots",fantasy,"google";
    font-size: 30px;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    color:#9b0000;
  }
  h3{
    font-family: "Raleway Dots",fantasy,"google";
    font-size: 25px;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    color:black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  p{
    color: #333;
    font-size: 15px;
    line-height: 1.75em;
  }
  ul{
    padding-left: 35px;
  }
  li{
    list-style-type: disc;
    color: #333;
    font-size: 15px;
    line-height: 1.75em;

  }

  .assistenzhunde-img {
    overflow:hidden;
    max-width: 48%;
    &:hover img {
      transform: scale3D(1.1,1.1,1);
    }
    img {
      opacity: .6;
      @include transition (all, 0.5s, ease-out);
    }
  }

}
