/*=================================================================
  Latest Posts
==================================================================*/

.blog {
  background: #F6F6F6;
}

.post {
  background: $light;
  margin-bottom: 20px;
  padding-bottom: 15px;

  .post-media {
    &.post-thumb {
      img {
        width: 100%;
        height: auto;
      }
    }

    &.post-media-audio {
      iframe {
        width: 100%;
      }
    }
  }

  .post-title {
    padding-top: 10px;
    text-transform: uppercase;
    font-family: serif;
    font-size: 30px;
    font-style: normal;
    text-align: left;
    color:#9b0000;

    a {
      color: $primary-color;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .post-meta {
    font-size: 13px;
    margin-top: 10px;

    ul {
      li {
        display: inline-block;
        color: #909090;
        margin-right: 20px;
        font-size: 12px;
        letter-spacing: .5px;

        a {
          color: #909090;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  .post-content {
    margin-top: 20px;

    p {
      color: #636d72;;
      line-height: 26px;
    }

    ul {
      color: #636d72;
      font-size: 15px;
      padding: 10px 20px;
      font-family: $primary-font;
      list-style: circle;
    }
    ol {
      color: #636d72;
      font-size: 15px;
      padding: 10px 20px;
      font-family: $primary-font;
    }

    blockquote {
      margin-top: 20px;
      font-size: 18px;
      border-color: $primary-color;
      padding: 10px 20px;
      text-align: left;
      color: #777;
    }

    .btn-main {
      padding: 10px 20px;
      margin: 15px 0;
      font-size: 12px;
      background-color: darkgray;
    }
    .btn-main:hover{
      background-color: #9b0000;
    }
  }
}

@media (max-width: 568px){
  .post {
    .post-title {
      font-size: 27px;
    }
  }
}

.post-pagination {
  margin-top: 70px;

  >li {
    color: #636d72;
    margin: 0 2px;
    display: inline-block;
    font-size: 14px;

    >a {
      color: $black;
      @include transition (all, 0.3s, ease);

      &:hover {
        color: $light;
        background: $primary-color;
        border: 1px solid $primary-color;
      }
    }

    &.active>a {
      background: $primary-color !important;
      border: 1px solid $primary-color !important;
    }
  }

  >li:first-child>a,
  >li:last-child>a {
    border-radius: 0;
  }
}

// sets

$gl-ms         : "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs         : "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm         : "screen and (max-width: 48em)";   // max 768px
$gl-md         : "screen and (max-width: 64em)";   // max 1024px
$gl-lg         : "screen and (max-width: 80em)";   // max 1280px

// table style

table 			      {
  border-spacing: 1;
  border-collapse: collapse;
  background:white;
  border-radius:6px;
  overflow:hidden;
  max-width:800px;
  width:100%;
  margin:0 auto;
  position:relative;
  font-size:16px;

  *               { position:relative }

  td,th           { padding-left:8px}

  thead tr        {
    height:60px;
    background:lightgray;

  }

  tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;
    &:last-child  { border:0; }
  }

  td,th 					{ text-align:left;
    &.l 					{ text-align:right }
    &.c 					{ text-align:center }
    &.r 					{ text-align:center }
  }
}


@media #{$gl-xs}              {

  table					              { display:block;
    > *,tr,td,th              { display:block }

    thead                     { display:none }
    tbody tr                  { height:auto; padding:8px 0;
      td                      { padding-left:45%; margin-bottom:12px;
        &:last-child          { margin-bottom:0 }
        &:before              {
          position:absolute;
          font-weight:700;
          width:40%;
          left:10px;
          top:0
        }

        &:nth-child(1):before { content:"Leistung";}
        &:nth-child(2):before { content:"Dauer";}
        &:nth-child(3):before { content:"Preis";}
      }
    }
  }
}




// body style

body{

  background: #9b0000;
  font:400 14px 'Calibri','Arial';
  padding:0 3vw 0 3vw;

}

blockquote {
  color:white;
  text-align:center;
}
