$gl-ms         : "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs         : "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm         : "screen and (max-width: 48em)";   // max 768px
$gl-md         : "screen and (max-width: 64em)";   // max 1024px
$gl-lg         : "screen and (max-width: 80em)";   // max 1280px



.navigation {
  background: #f7f7f7;
  padding: 22px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);

  .container{
    width: 100vw;
  }

  .navbar {
    margin-bottom: 0;
    border: 0;
  }

  .navbar-brand {
    padding-top: 0;
    top: -11px;
    position: relative;
    float: left;
    z-index: 1;
  }

  .navbar {
    border: 0;

    .navbar-collapse {
      background-color: #f7f7f7;
      height: 297px;
    }


    .navbar-nav {
      padding-top: 8px;
      padding-left: 2vw;
      float: left;
      background-color: #f7f7f7;


      >li {
        >a {
          color: #5C5C5C;
          padding: 10px 15px;

          font-family: "Raleway",sans-serif,"google";
          font : {
            weight: 500;
            size: 17px;
          }

          text-transform:uppercase;

          &:hover,
          &:focus {
            color: #9b0000;
            background: transparent;
          }
        }

        select {
          margin: 10px 15px;
        }
      }
    }

    .dropdown-menu {
      background-color: #f7f7f7;
      border-radius: 0;
      border: none;
      left: -5px;

      a {
        font-family: "Raleway",sans-serif,"google";
        font-weight: normal;
        color: #808080;
        padding: 10px 20px;
        @include transition (all, 0.3s, ease);

        &:hover {
          background: #9b0000;
          color: #f7f7f7;
          padding-left: 25px;
        }
      }
    }
  }
}

.nav .open>a {
  background: transparent;
}

@media (max-width: 568px){
  .phantom_navigation{
    padding: 0 0 0 0;

    .navbar{
      padding: 20px 0 0 0;
      min-height: 0;
    }
    .navbar-brand {
      padding: 0 0 0 0;
      left: -6px;
      max-width: 72vw;
      float: left;
    }
    .navbar-toggle{
      padding: 0 0 0 0;
    }
  }
  .navigation {
    padding: 0 0 0 0;

    .navbar{
      padding: 20px 0 0 0;
      min-height: 0;
    }
    .navbar-brand {
      padding: 0 0 0 0;
      left: -6px;
      max-width: 72vw;
      float: left;
    }
    .navbar-toggle{
      padding: 0 0 0 0;
    }
  }
}
