/*=================================================================
  Pricing section
==================================================================*/
table 			      {
  border-collapse: collapse;
  background:white;
  border-radius:6px;
  overflow:hidden;
  max-width:800px;
  width:100%;
  margin:0 auto;
  position:relative;
  font-size:16px;

  *               { position:relative }

  td,th           { padding-left:8px;
  max-width: 45vw}

  thead tr        {
    height:60px;
    background:lightgray;

  }

  tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;
    &:last-child  { border:0; }
  }

  td,th 					{ text-align:left;
    &.l 					{ text-align:right }
    &.c 					{ text-align:center }
    &.r 					{ text-align:center }
  }
}

table {
  -webkit-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.25);
  box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.25);

}
table tbody td{
  background-color: #dedede;
  text-align: center;
}
table tbody td:first-child{
  background-color: #dedede;
  text-align: left;
}

table thead th{
  background-color: #418bba;
  padding-right: 10px;
  text-align: center;

}
table:last-of-type thead th{
  background-color: #4397ab;

}
.pricing-table {
  .pricing-item {
    padding: 40px 20px;
    background: $light;
    box-shadow: 0 8px 15px 0 rgba(5, 57, 106, .06);

    a.btn-main {
      text-transform: uppercase;
      margin-top: 20px;
    }

    li {
      font-weight: 400;
      padding: 6px 0;
      color: #666;

      i {
        margin-right: 6px;
        color: $primary-color;
      }
    }
  }

  .price-title {
    padding: 30px 0 20px;

    >h3 {
      font-weight: 700;
      margin: 0 0 5px;
      font-size: 15px;
      text-transform: uppercase;
    }

    >p {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 5px;
    }

    .value {
      color: $primary-color;
      font-size: 50px;
      padding: 10px 0;
    }
  }
}
