.sidebar{
  width: 90%;
  margin: 0 auto;
  h2{
    font-family: "Raleway Dots","google";
    font-size: 25px;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    color:#333;
  }
  .sidebar-img{
    width:80%;
  }

  h3{
    font-size: 19px;
    font-style: normal;
    text-align: left;
    text-transform: none;
    padding-bottom: 0;
    margin-bottom: -20px;
    color:#333;
  }
}
