/*=================================================================
  Single Blog Page
==================================================================*/
.post .post-title a {

  padding-top: 10px;
  text-transform: uppercase;
  font-family: serif;
  font-size: 30px;
  font-style: normal;
  text-align: left;
  color:#9b0000;
  }

.post.post-single {
  border: none;

  .post-thumb {
    margin-top: 30px;
  }
}

.post-sub-heading {
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}

.post-social-share {
  margin-bottom: 50px;
}

.post-excerpt {
  margin-bottom: 60px;

  h3 {
    a {
      color: #000;
    }
  }
  img{
    padding: 15px 0 10px 0;
    max-width: 49%;
  }

  p {

  }

  blockquote.quote-post {
    margin: 20px 0;

    p {
      line-height: 30px;
      font-size: 20px;
      color: $primary-color;
    }
  }
}


.single-blog {
  background-color: #fff;
  margin-bottom: 50px;
  padding: 20px;
}

.blog-subtitle {
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.next-prev {
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
  margin: 20px 0;
  padding: 25px 0;

  a {
    color: #000;

    &:hover {
      color: $primary-color;
    }
  }

  .prev-post i {
    margin-right: 10px;
  }

  .next-post i {
    margin-left: 10px;
  }
}
