<div class="sidebar">
  <h2>Mit Liebe und Geduld ausbilden</h2>
  <img src="/images/about.jpg" class="sidebar-img">

  <h3>Herzlich Willkommen auf der Seite der Hundeschule Herz-AS!</h3>
  <p>
    <br>
    <br>
    Mein Name ist Amelie Schulz, ich bin von der IHK Potsdam geprüfte Hundeerzieherin und Verhaltensberaterin des BHV.
    <br>
    <br>
    Ich darf mich beruflich mit meinem Herzensthema Hunde beschäftigen. Mein Steckenpferd ist die Ausbildung von Assistenzhunden,
    wo ich meine jahrelangen Erfahrungen in Bezug auf chronische Erkrankungen und mein Hintergrundwissen als Kauffrau im Gesundheitswesen einbringen kann.
    <br>
    <br>
    Mit Mensch und Hund ist das erarbeiten der gesamten Grundlagen, die unsere Familienhunde zu tollen Wegbegleitern machen, eine große Freude.
    <br>
    Das Auftrainieren von Hilfsleistungen eines Assistenzhundes macht die Arbeit anspruchsvoll und ist sehr spannend.
    <br>
    <br>
    Ich liebe es den Menschen die Sprache der Hunde näher zu bringen und zu beobachten wie Mensch und Hund zu einem Team zusammenwachsen.
    <br>
    <br>
    Ich arbeite nur positiv, bei mir gibt es im Trainingsplan keine Strafen!
    <br>
    Ständige Weiterbildung ist für mich eine Selbstverständlichkeit.
    <br>
    <br>
    <b>Amelie Schulz<br>Hundeschule Herz-AS<br>
    Telefon: 05108-876 8 567
    <br>
    Mail: hundeschule.herz.as@gmail.com
    <br>
    </b>
  </p>
  <img src="/images/banner_vertical.png" class="sidebar-img">
  <br>
  <br>
  <img src="/images/assistenzhundeteams.jpg" class="sidebar-img">
</div>
