<div class="sidebar">
  <h2>Mit Liebe und Geduld ausbilden</h2>
  <img src="/images/about.jpg" class="sidebar-img">

  <h3>Herzlich Willkommen auf der Seite der Assistenzhundeschule Herz-Ass!</h3>
  <p>
    <br>
    <br>
    Mein Name ist Amelie Wanek, ich bin von der IHK geprüfte Hundeerzieherin und Verhaltensberaterin des BHV in der Nähe von Hannover.
    <br>
    <br>
    Ich darf mich beruflich mit meinem Herzensthema Hunde beschäftigen. Mein Steckenpferd ist die Ausbildung von Assistenzhunden,
    wo ich meine jahrelangen Erfahrungen in Bezug auf chronische Erkrankungen und mein Hintergrundwissen als Kauffrau im Gesundheitswesen einbringen kann.
    <br>
    <br>
    Mit Mensch und Hund ist das erarbeiten der gesamten Grundlagen, die unsere Familienhunde zu tollen Wegbegleitern machen, eine große Freude.
    <br>
    Das Auftrainieren von Hilfsleistungen eines Assistenzhundes macht die Arbeit anspruchsvoll und ist sehr spannend.
    <br>
    <br>
    Ich liebe es den Menschen die Sprache der Hunde näher zu bringen und zu beobachten wie Mensch und Hund zu einem Team zusammenwachsen.
    <br>
    <br>
    Ich arbeite nur positiv, bei mir gibt es im Trainingsplan keine Strafen!
    <br>
    Ständige Weiterbildung ist für mich eine Selbstverständlichkeit.
    <br>
    <br>
    <b>Assistenzhundeschule Herz-Ass</b><br>
    Mail: <b>info@hundeschule-herz-as.de</b>   <br>
    Telefon: <b>0177-9273213</b>
    <br>
    vom Veterinäramt nach §11 überprüft.

    <br>
    </b>
  </p>

  <br>
  <br>
  <img src="/images/assistenzhundeteams.png" class="sidebar-img" style="display: block;margin-left: auto;margin-right: auto;">
  <br>
  <br>
  <img src="/images/zertifikat_hundetrainerin.png" class="sidebar-img" style="display: block;margin-left: auto;margin-right: auto;">
</div>
